<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vs_weather_reporting>
            <configuration>
                <enabled>0</enabled>
                <vs_service_url>http://api.openweathermap.org/data/2.5/weather</vs_service_url>
                <token></token>
                <units>metric</units>
                <city>Lublin</city>
            </configuration>
        </vs_weather_reporting>
    </default>
</config>
